# Pour faire apparaitre Krypton Wallet dans le menu des applications :
# sudo desktop-file-install krypton-wallet.desktop

[Desktop Entry]
Comment=Lightweight Krypton Client
Exec=krypton-wallet %u
GenericName[en_US]=Krypton Wallet
GenericName=Krypton Wallet
Icon=krypton-wallet
Name[en_US]=Krypton Wallet
Name=Krypton Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=krypton-wallet
Terminal=false
Type=Application
MimeType=x-scheme-handler/krypton;
Keywords=crypto;currency;KYP;krypton;
